.navbar-child18,
.navbar-child19 {
  position: absolute;
  left: 0;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
}
.navbar-child18 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lightseagreen-100);
}
.navbar-child19 {
  top: 86px;
  background-color: var(--color-lightblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1425px;
  height: 91px;
}
.community10 {
  margin: 0;
}
.community-forum8 {
  position: absolute;
  top: 126px;
  left: 85px;
  display: inline-block;
  width: 111px;
  height: 36px;
}
.image-10-icon9,
.image-11-icon8 {
  position: absolute;
  top: 124px;
  left: 447px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-10-icon9 {
  left: 243px;
}
.schedule-appointment8,
.support-ngos8 {
  position: absolute;
  top: 125px;
  left: 290px;
  display: inline-block;
  width: 115px;
  height: 37px;
}
.support-ngos8 {
  left: 494px;
  width: 87px;
  height: 35px;
}
.image-12-icon10 {
  position: absolute;
  top: 122px;
  left: 624px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.personal-health-tracker-container8 {
  position: absolute;
  top: 124px;
  left: 671px;
  display: inline-block;
  width: 131px;
  height: 32px;
}
.image-15-icon9 {
  position: absolute;
  top: 122px;
  left: 841px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.your-health-record-container8 {
  position: absolute;
  top: 124px;
  left: 888px;
  display: inline-block;
  width: 106px;
  height: 35px;
}
.image-16-icon9 {
  position: absolute;
  top: 122px;
  left: 1034px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.health-cart8 {
  position: absolute;
  top: 127px;
  left: 1074px;
  display: inline-block;
  width: 118px;
  height: 32px;
}
.image-17-icon9 {
  position: absolute;
  top: 124px;
  left: 1206px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.wellness-reward-prgram8 {
  position: absolute;
  top: 125px;
  left: 1253px;
  display: inline-block;
  width: 145px;
  height: 34px;
}
.image-20-icon10 {
  position: absolute;
  top: 9px;
  left: 1317px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.loginsignup8 {
  position: absolute;
  top: 59px;
  left: 1289px;
  display: inline-block;
  color: var(--white);
  width: 136px;
  height: 27px;
}
.image-18-icon9 {
  position: absolute;
  top: 12px;
  left: 1048px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.experience8,
.rewards8 {
  position: absolute;
  top: 57px;
  left: 1166px;
  display: inline-block;
  color: var(--white);
  width: 136px;
  height: 27px;
}
.experience8 {
  left: 1025px;
}
.healthcare-low-resolution-logo-icon8,
.image-19-icon9 {
  position: absolute;
  top: 12px;
  left: 1178px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.healthcare-low-resolution-logo-icon8 {
  left: 13px;
  width: 125px;
  height: 58.38px;
  cursor: pointer;
}
.navbar8 {
  position: absolute;
  top: calc(50% - 1383px);
  left: calc(50% - 712px);
  width: 1425px;
  height: 172px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.image-9-icon8 {
  position: absolute;
  top: calc(50% - 1256px);
  left: calc(50% - 676px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.background7,
.footer22 {
  position: absolute;
  left: 0;
}
.footer22 {
  height: 107.35%;
  width: 100%;
  top: -7.35%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro);
}
.background7 {
  top: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 529px;
}
.poltica-de-privacidad7 {
  position: relative;
  line-height: 150%;
  opacity: 0.7;
}
.poltica-de-privacidad-parent4 {
  position: absolute;
  height: 7.29%;
  width: 45.79%;
  top: 92.71%;
  right: 0;
  bottom: 0;
  left: 54.21%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.iconlink7,
.icontwitter7 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconlink7 {
  display: none;
}
.icontwitter-parent5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.divider7,
.footer23 {
  position: absolute;
  height: 6.94%;
  width: 9.36%;
  top: 93.03%;
  right: 90.64%;
  bottom: 0.03%;
  left: 0;
}
.divider7 {
  height: 0.28%;
  width: 99.53%;
  top: 87.5%;
  right: 0.33%;
  bottom: 12.22%;
  left: 0.14%;
  background-color: var(--white);
  opacity: 0.25;
}
.empresa15 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 150%;
}
.insights7,
.sobre-nosotros7,
.soluciones7 {
  position: absolute;
  top: 64px;
  left: 0;
  line-height: 150%;
  opacity: 0.7;
}
.insights7,
.soluciones7 {
  top: 125px;
}
.insights7 {
  top: 186px;
}
.empresa14 {
  position: absolute;
  top: 38.64px;
  left: 362.42px;
  width: 96px;
  height: 207px;
}
.categoras15 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
}
.categoras14,
.competencias-digitales-parent5 {
  position: absolute;
  height: 71.83%;
  width: 17.42%;
  top: 0;
  right: 30.73%;
  bottom: 28.17%;
  left: 51.85%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.competencias-digitales-parent5 {
  height: 49.62%;
  width: 16.11%;
  top: 20.1%;
  right: 8.31%;
  bottom: 30.28%;
  left: 75.58%;
}
.footer-9-dark7,
.footer-ui7 {
  position: absolute;
  height: 67.24%;
  width: 74.94%;
  top: 14.32%;
  right: 12.46%;
  bottom: 18.44%;
  left: 12.6%;
}
.footer-9-dark7 {
  height: 106.87%;
  width: 100%;
  top: -7.35%;
  right: 0;
  bottom: 0.47%;
  left: 0;
  background-color: var(--white);
  overflow: hidden;
}
.footer21 {
  position: absolute;
  top: calc(50% + 977px);
  left: calc(50% - 712px);
  width: 1425px;
  height: 401px;
  font-size: var(--body-2-regular-14-20-01px-size);
  font-family: var(--b3-14);
}
.search-bar-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--white);
}
.search-icon3 {
  position: absolute;
  top: 5px;
  left: 179px;
  width: 34px;
  height: 34px;
  display: none;
}
.cbe3,
.pin-icon3,
.search-bar-child5 {
  position: absolute;
  left: 24px;
  display: none;
}
.search-bar-child5 {
  top: 0;
  background-color: var(--white);
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 141px;
  height: 52px;
  mix-blend-mode: darken;
}
.cbe3,
.pin-icon3 {
  top: 5px;
  width: 32px;
  height: 42px;
}
.cbe3 {
  top: 11px;
  left: 94px;
  font-weight: 800;
  width: 47px;
  height: 36px;
}
.search-bar3 {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 366px);
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 732px;
  height: 52px;
}
.search-icon4 {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 349px);
  width: 34px;
  height: 34px;
}
.cart-inner,
.search-bar-parent {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 366px);
  width: 732px;
  height: 52px;
}
.cart-inner {
  top: calc(50% - 1142px);
  left: calc(50% - 364px);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-child,
.image-31-icon1 {
  position: absolute;
  top: calc(50% - 312px);
  left: calc(50% - 177px);
  width: 354px;
}
.group-child {
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-400);
  height: 624px;
}
.image-31-icon1 {
  border-radius: var(--br-3xl);
  height: 282px;
  object-fit: cover;
}
.heart-icon {
  top: calc(50% - 298px);
  left: calc(50% + 122px);
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.b3,
.group-item,
.heart-icon {
  position: absolute;
}
.group-item {
  top: calc(50% - 12px);
  left: calc(50% - 158px);
  border-radius: var(--br-8xs);
  width: 66px;
  height: 29px;
}
.b3 {
  top: calc(50% - 9px);
  left: calc(50% - 146px);
  letter-spacing: -0.01em;
  line-height: 150%;
}
.star,
.star-icon {
  position: absolute;
  top: calc(50% - 81.58px);
  left: calc(50% - 50.85px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.star-icon {
  top: calc(50% - 9px);
  left: calc(50% - 120px);
}
.boost,
.reviews,
.rs-50 {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 150%;
}
.reviews {
  top: calc(50% - 8px);
  left: calc(50% - 75px);
}
.boost,
.rs-50 {
  left: calc(50% - 158px);
  color: var(--color-gray-800);
}
.boost {
  top: calc(50% + 42px);
  font-size: var(--font-size-6xl);
}
.rs-50 {
  top: calc(50% + 126px);
  display: inline-block;
  width: 70px;
  height: 20px;
}
.group-child4,
.group-div,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  top: calc(50% - 907px);
  left: calc(50% - 708px);
  width: 354px;
  height: 624px;
}
.group-child4,
.rectangle-parent7,
.rectangle-parent8 {
  left: calc(50% - 182px);
}
.group-child4,
.rectangle-parent8 {
  left: calc(50% + 355px);
}
.group-child4 {
  top: calc(50% - 45.5px);
  left: calc(50% - 131.5px);
  border-radius: var(--br-21xl);
  background-color: var(--color-mediumslateblue);
  width: 263px;
  height: 91px;
}
.add-to-cart {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 78.5px);
  letter-spacing: -0.01em;
  line-height: 150%;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent9 {
  position: absolute;
  top: calc(50% - 405px);
  left: calc(50% - 663px);
  width: 263px;
  height: 91px;
  font-size: var(--font-size-6xl);
}
.rectangle-parent10,
.rectangle-parent11 {
  left: calc(50% - 144px);
}
.rectangle-parent11 {
  left: calc(50% + 403px);
}
.rectangle-parent12,
.rectangle-parent13,
.rectangle-parent14 {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 689px);
  width: 354px;
  height: 624px;
}
.rectangle-parent13,
.rectangle-parent14 {
  left: calc(50% - 163px);
}
.rectangle-parent14 {
  left: calc(50% + 374px);
}
.rectangle-parent15,
.rectangle-parent16,
.rectangle-parent17 {
  position: absolute;
  top: calc(50% + 439px);
  left: calc(50% - 644px);
  width: 263px;
  height: 91px;
  font-size: var(--font-size-6xl);
}
.rectangle-parent16,
.rectangle-parent17 {
  left: calc(50% - 125px);
}
.rectangle-parent17 {
  left: calc(50% + 422px);
}
.image-150-icon {
  position: absolute;
  top: calc(50% - 1159px);
  left: calc(50% + 440px);
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.cart {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 2758px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--white);
  font-family: var(--font-inter);
}
