.footer40 {
  position: absolute;
  height: 107.35%;
  width: 100%;
  top: -7.35%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.background13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 529px;
}
.poltica-de-privacidad13 {
  position: relative;
  line-height: 150%;
  opacity: 0.7;
}
.poltica-de-privacidad-parent10 {
  position: absolute;
  height: 7.29%;
  width: 45.79%;
  top: 92.71%;
  right: 0;
  bottom: 0;
  left: 54.21%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.iconlink13,
.icontwitter13 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconlink13 {
  display: none;
}
.icontwitter-parent11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.divider13,
.footer41 {
  position: absolute;
  height: 6.94%;
  width: 9.36%;
  top: 93.03%;
  right: 90.64%;
  bottom: 0.03%;
  left: 0;
}
.divider13 {
  height: 0.28%;
  width: 99.53%;
  top: 87.5%;
  right: 0.33%;
  bottom: 12.22%;
  left: 0.14%;
  background-color: var(--white);
  opacity: 0.25;
}
.empresa27 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 150%;
}
.insights13,
.sobre-nosotros13,
.soluciones13 {
  position: absolute;
  top: 64px;
  left: 0;
  line-height: 150%;
  opacity: 0.7;
}
.insights13,
.soluciones13 {
  top: 125px;
}
.insights13 {
  top: 186px;
}
.empresa26 {
  position: absolute;
  top: 38.64px;
  left: 362.42px;
  width: 96px;
  height: 207px;
}
.categoras27 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
}
.categoras26,
.competencias-digitales-parent11 {
  position: absolute;
  height: 71.83%;
  width: 17.42%;
  top: 0;
  right: 30.73%;
  bottom: 28.17%;
  left: 51.85%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.competencias-digitales-parent11 {
  height: 49.62%;
  width: 16.11%;
  top: 20.1%;
  right: 8.31%;
  bottom: 30.28%;
  left: 75.58%;
}
.footer-9-dark13,
.footer-ui13 {
  position: absolute;
  height: 67.24%;
  width: 74.94%;
  top: 14.32%;
  right: 12.46%;
  bottom: 18.44%;
  left: 12.6%;
}
.footer-9-dark13 {
  height: 106.87%;
  width: 100%;
  top: -7.35%;
  right: 0;
  bottom: 0.47%;
  left: 0;
  background-color: var(--white);
  overflow: hidden;
}
.footer39 {
  position: absolute;
  top: calc(50% + 616.5px);
  left: calc(50% - 712px);
  width: 1425px;
  height: 401px;
  text-align: left;
  font-size: var(--body-2-regular-14-20-01px-size);
  color: var(--white);
  font-family: var(--b3-14);
}
.search-bar-child10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--white);
}
.search-icon7 {
  position: absolute;
  top: 5px;
  left: 179px;
  width: 34px;
  height: 34px;
}
.search-bar-child11 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--white);
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 141px;
  height: 52px;
  mix-blend-mode: darken;
}
.cbe6,
.pin-icon6 {
  position: absolute;
  top: 5px;
  left: 24px;
  width: 32px;
  height: 42px;
}
.cbe6 {
  top: 11px;
  left: 94px;
  display: inline-block;
  font-weight: 800;
  width: 47px;
  height: 36px;
}
.search-bar6 {
  position: absolute;
  top: calc(50% - 803.5px);
  left: calc(50% - 379px);
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 732px;
  height: 52px;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.navbar-child34,
.navbar-child35 {
  position: absolute;
  left: 0;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
}
.navbar-child34 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lightseagreen-100);
}
.navbar-child35 {
  top: 86px;
  background-color: var(--color-lightblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1425px;
  height: 91px;
}
.community-forum15 {
  position: absolute;
  top: 126px;
  left: 85px;
  display: inline-block;
  width: 111px;
  height: 36px;
}
.image-10-icon16,
.image-11-icon15 {
  position: absolute;
  top: 124px;
  left: 447px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-10-icon16 {
  left: 243px;
}
.schedule-appointment15,
.support-ngos15 {
  position: absolute;
  top: 125px;
  left: 290px;
  display: inline-block;
  width: 115px;
  height: 37px;
}
.support-ngos15 {
  left: 494px;
  width: 87px;
  height: 35px;
}
.image-12-icon17 {
  position: absolute;
  top: 122px;
  left: 624px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.personal-health-tracker-container15 {
  position: absolute;
  top: 124px;
  left: 671px;
  display: inline-block;
  width: 131px;
  height: 32px;
}
.image-15-icon16 {
  position: absolute;
  top: 122px;
  left: 841px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.your-health-record-container15 {
  position: absolute;
  top: 124px;
  left: 888px;
  display: inline-block;
  width: 106px;
  height: 35px;
}
.image-16-icon16 {
  position: absolute;
  top: 122px;
  left: 1034px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.health-cart15 {
  position: absolute;
  top: 127px;
  left: 1074px;
  display: inline-block;
  width: 118px;
  height: 32px;
}
.image-17-icon16 {
  position: absolute;
  top: 124px;
  left: 1206px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.wellness-reward-prgram15 {
  position: absolute;
  top: 125px;
  left: 1253px;
  display: inline-block;
  width: 145px;
  height: 34px;
}
.image-20-icon18 {
  position: absolute;
  top: 9px;
  left: 1317px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.loginsignup15 {
  position: absolute;
  top: 59px;
  left: 1289px;
  display: inline-block;
  color: var(--white);
  width: 136px;
  height: 27px;
}
.image-18-icon17 {
  position: absolute;
  top: 12px;
  left: 1048px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.experience16,
.rewards15 {
  position: absolute;
  top: 57px;
  left: 1166px;
  display: inline-block;
  color: var(--white);
  width: 136px;
  height: 27px;
}
.experience16 {
  left: 1025px;
}
.image-19-icon17 {
  position: absolute;
  top: 12px;
  left: 1178px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.navbar-child36 {
  position: absolute;
  top: 12px;
  left: 7px;
  background-color: var(--color-lightseagreen-100);
  width: 146px;
  height: 63px;
}
.healthcare-low-resolution-logo-icon15,
.image-9-icon15 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 125px;
  height: 58.38px;
  object-fit: cover;
}
.image-9-icon15 {
  top: 124px;
  left: 40px;
  width: 40px;
  height: 40px;
}
.navbar15 {
  position: absolute;
  top: calc(50% - 1022.5px);
  left: calc(50% - 712px);
  width: 1425px;
  height: 172px;
  text-align: left;
  font-size: var(--font-size-base);
}
.image-9-icon16 {
  position: absolute;
  top: calc(50% - 895.5px);
  left: calc(50% - 676px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.doctor-perspective-child,
.doctor-perspective-item {
  position: absolute;
  top: calc(50% - 722.5px);
  left: calc(50% - 713px);
  width: 1425px;
  height: 929px;
}
.doctor-perspective-item {
  top: calc(50% - 704.5px);
  left: calc(50% - 697px);
  height: 870px;
}
.chatbot-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-palegreen);
}
.image-13-icon8 {
  position: absolute;
  height: 64.71%;
  width: 61.11%;
  top: 17.65%;
  right: 19.44%;
  bottom: 17.65%;
  left: 19.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chatbot7 {
  position: absolute;
  top: calc(50% + 63.5px);
  left: calc(50% + 554px);
  width: 108px;
  height: 102px;
  cursor: pointer;
}
.forum-inner {
  position: absolute;
  height: 100.67%;
  width: 101.02%;
  top: -0.34%;
  right: -0.51%;
  bottom: -0.34%;
  left: -0.51%;
  border-radius: var(--br-3xs);
  background-color: var(--color-palegreen);
  box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.image-7-icon16,
.image-8-icon19 {
  position: absolute;
  top: 18px;
  left: 47px;
  width: 104px;
  height: 172px;
  object-fit: cover;
  display: none;
}
.image-7-icon16 {
  top: 0;
  left: 10px;
  width: 177px;
  height: 267px;
  mix-blend-mode: normal;
}
.forum-child1 {
  position: absolute;
  top: 190px;
  left: 0;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--white);
  width: 199px;
  height: 107px;
}
.online-consulting20 {
  position: absolute;
  top: 201px;
  left: 10px;
  display: inline-block;
  width: 177px;
  height: 34px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.connect-with-doctor-container7 {
  position: absolute;
  top: 235px;
  left: 24px;
  font-size: var(--font-size-base);
  display: inline-block;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  width: 140px;
  height: 36px;
}
.forum17 {
  position: absolute;
  top: calc(50% - 244.5px);
  left: calc(50% - 619px);
  width: 196px;
  height: 297px;
}
.patient-health-record {
  margin: 0;
}
.health-record2 {
  position: absolute;
  top: calc(50% - 604.5px);
  left: calc(50% - 82px);
  width: 196px;
  height: 297px;
}
.image-72 {
  position: absolute;
  top: 0;
  left: 10px;
  width: 177px;
  height: 267px;
  mix-blend-mode: normal;
}
.healthcart1,
.ngo1,
.prescription-mangae1,
.reward1,
.tracker1 {
  position: absolute;
  top: calc(50% - 604.5px);
  left: calc(50% + 186px);
  width: 196px;
  height: 297px;
}
.healthcart1,
.ngo1,
.reward1,
.tracker1 {
  top: calc(50% - 601.5px);
  left: calc(50% + 454px);
}
.healthcart1,
.ngo1,
.reward1 {
  top: calc(50% - 233.5px);
  left: calc(50% - 347px);
}
.healthcart1,
.ngo1 {
  left: calc(50% - 82px);
}
.healthcart1 {
  left: calc(50% + 186px);
  cursor: pointer;
}
.image-129-icon1 {
  position: absolute;
  top: calc(50% - 205.5px);
  left: calc(50% + 178px);
  width: 199px;
  height: 156px;
  object-fit: cover;
}
.appointment17 {
  position: absolute;
  top: calc(50% - 604.5px);
  left: calc(50% - 347px);
  width: 196px;
  height: 297px;
}
.image-7-icon23,
.image-8-icon27 {
  position: absolute;
  top: 18px;
  left: 47px;
  width: 104px;
  height: 172px;
  object-fit: cover;
}
.image-7-icon23 {
  top: 0;
  left: 10px;
  width: 177px;
  height: 267px;
  mix-blend-mode: normal;
}
.connect-with-doctor14 {
  position: absolute;
  top: 235px;
  left: 24px;
  font-size: var(--font-size-base);
  display: inline-block;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: center;
  width: 140px;
  height: 36px;
}
.online-consulting28 {
  position: absolute;
  top: calc(50% - 601.5px);
  left: calc(50% - 622px);
  width: 196px;
  height: 297px;
  text-align: left;
}
.image-123-icon {
  position: absolute;
  top: calc(50% - 581.5px);
  left: calc(50% - 574px);
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  width: 101px;
  height: 164px;
  object-fit: cover;
}
.image-117-icon1,
.image-118-icon1 {
  position: absolute;
  top: calc(50% - 575.5px);
  left: calc(50% - 76px);
  width: 188px;
  height: 158px;
  object-fit: cover;
}
.image-118-icon1 {
  top: calc(50% - 543.5px);
  left: calc(50% + 176px);
  width: 229px;
  height: 126px;
}
.image-116-icon1,
.image-120-icon1,
.image-122-icon1 {
  position: absolute;
  top: calc(50% - 612.5px);
  left: calc(50% - 323px);
  width: 186px;
  height: 198px;
  object-fit: cover;
}
.image-120-icon1,
.image-122-icon1 {
  top: calc(50% - 543.5px);
  left: calc(50% + 455px);
  width: 198px;
  height: 132px;
}
.image-122-icon1 {
  top: calc(50% - 223.5px);
  left: calc(50% - 619px);
  width: 196px;
  height: 162px;
}
.image-124-icon1,
.image-removebg-preview-1-icon2 {
  position: absolute;
  top: calc(50% - 205.5px);
  left: calc(50% - 346px);
  width: 198px;
  height: 144px;
  object-fit: cover;
}
.image-removebg-preview-1-icon2 {
  top: calc(50% - 220.5px);
  left: calc(50% - 82px);
  width: 199px;
  height: 174px;
}
.doctor-perspective {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 2035px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
