.navbar-child22,
.navbar-child23 {
  position: absolute;
  left: 0;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
}
.navbar-child22 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lightseagreen-100);
}
.navbar-child23 {
  top: 86px;
  background-color: var(--color-lightblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1425px;
  height: 91px;
}
.community12 {
  margin: 0;
}
.community-forum10 {
  position: absolute;
  top: 126px;
  left: 85px;
  display: inline-block;
  width: 111px;
  height: 36px;
}
.image-10-icon11,
.image-11-icon10 {
  position: absolute;
  top: 124px;
  left: 447px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-10-icon11 {
  left: 243px;
}
.schedule-appointment10,
.support-ngos10 {
  position: absolute;
  top: 125px;
  left: 290px;
  display: inline-block;
  width: 115px;
  height: 37px;
}
.support-ngos10 {
  left: 494px;
  width: 87px;
  height: 35px;
}
.image-12-icon12 {
  position: absolute;
  top: 122px;
  left: 624px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.personal-health-tracker-container10 {
  position: absolute;
  top: 124px;
  left: 671px;
  display: inline-block;
  width: 131px;
  height: 32px;
}
.image-15-icon11 {
  position: absolute;
  top: 122px;
  left: 841px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.your-health-record-container10 {
  position: absolute;
  top: 124px;
  left: 888px;
  display: inline-block;
  width: 106px;
  height: 35px;
}
.image-16-icon11 {
  position: absolute;
  top: 122px;
  left: 1034px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.health-cart10 {
  position: absolute;
  top: 127px;
  left: 1074px;
  display: inline-block;
  width: 118px;
  height: 32px;
}
.image-17-icon11 {
  position: absolute;
  top: 124px;
  left: 1206px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.wellness-reward-prgram10 {
  position: absolute;
  top: 125px;
  left: 1253px;
  display: inline-block;
  width: 145px;
  height: 34px;
}
.image-20-icon12 {
  position: absolute;
  top: 9px;
  left: 1317px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.loginsignup10 {
  position: absolute;
  top: 59px;
  left: 1289px;
  display: inline-block;
  color: var(--white);
  width: 136px;
  height: 27px;
}
.image-18-icon11 {
  position: absolute;
  top: 12px;
  left: 1048px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.experience10,
.rewards10 {
  position: absolute;
  top: 57px;
  left: 1166px;
  display: inline-block;
  color: var(--white);
  width: 136px;
  height: 27px;
}
.experience10 {
  left: 1025px;
}
.healthcare-low-resolution-logo-icon10,
.image-19-icon11 {
  position: absolute;
  top: 12px;
  left: 1178px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.healthcare-low-resolution-logo-icon10 {
  left: 13px;
  width: 125px;
  height: 58.38px;
}
.navbar10 {
  position: absolute;
  top: calc(50% - 1015.5px);
  left: calc(50% - 712px);
  width: 1425px;
  height: 172px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.image-9-icon10 {
  position: absolute;
  top: 127px;
  left: 284px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.background9,
.footer28 {
  position: absolute;
  left: 0;
}
.footer28 {
  height: 107.35%;
  width: 100%;
  top: -7.35%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro);
}
.background9 {
  top: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 529px;
}
.poltica-de-privacidad9 {
  position: relative;
  line-height: 150%;
  opacity: 0.7;
}
.poltica-de-privacidad-parent6 {
  position: absolute;
  height: 7.29%;
  width: 45.79%;
  top: 92.71%;
  right: 0;
  bottom: 0;
  left: 54.21%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.iconlink9,
.icontwitter9 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconlink9 {
  display: none;
}
.icontwitter-parent7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.divider9,
.footer29 {
  position: absolute;
  height: 6.94%;
  width: 9.36%;
  top: 93.03%;
  right: 90.64%;
  bottom: 0.03%;
  left: 0;
}
.divider9 {
  height: 0.28%;
  width: 99.53%;
  top: 87.5%;
  right: 0.33%;
  bottom: 12.22%;
  left: 0.14%;
  background-color: var(--white);
  opacity: 0.25;
}
.empresa19 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 150%;
}
.insights9,
.sobre-nosotros9,
.soluciones9 {
  position: absolute;
  top: 64px;
  left: 0;
  line-height: 150%;
  opacity: 0.7;
}
.insights9,
.soluciones9 {
  top: 125px;
}
.insights9 {
  top: 186px;
}
.empresa18 {
  position: absolute;
  top: 38.64px;
  left: 362.42px;
  width: 96px;
  height: 207px;
}
.categoras19 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
}
.categoras18,
.competencias-digitales-parent7 {
  position: absolute;
  height: 71.83%;
  width: 17.42%;
  top: 0;
  right: 30.73%;
  bottom: 28.17%;
  left: 51.85%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.competencias-digitales-parent7 {
  height: 49.62%;
  width: 16.11%;
  top: 20.1%;
  right: 8.31%;
  bottom: 30.28%;
  left: 75.58%;
}
.footer-9-dark9,
.footer-ui9 {
  position: absolute;
  height: 67.24%;
  width: 74.94%;
  top: 14.32%;
  right: 12.46%;
  bottom: 18.44%;
  left: 12.6%;
}
.footer-9-dark9 {
  height: 106.87%;
  width: 100%;
  top: -7.35%;
  right: 0;
  bottom: 0.47%;
  left: 0;
  background-color: var(--white);
  overflow: hidden;
}
.footer27 {
  position: absolute;
  top: 1620px;
  left: 248px;
  width: 1425px;
  height: 401px;
  font-size: var(--body-2-regular-14-20-01px-size);
  font-family: var(--b3-14);
}
.instance-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-cadetblue);
}
.icon-icofont-web-bank {
  top: calc(50% - 25.5px);
  left: 33px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.icon-icofont-web-bank,
.income,
.k {
  position: absolute;
  display: none;
}
.k {
  top: 16px;
  left: 104px;
  font-weight: 800;
  width: 96px;
  height: 28px;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}
.income {
  top: 45px;
  left: 53px;
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-mistyrose);
  width: 170px;
  height: 25px;
}
.rectangle-parent21 {
  position: absolute;
  top: calc(50% - 734.5px);
  left: calc(50% - 248px);
  width: 511px;
  height: 123px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-3xl);
}
.sync-your-device {
  position: absolute;
  top: calc(50% - 695.5px);
  left: calc(50% - 197px);
  font-size: var(--font-size-12xl);
  line-height: 150%;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  width: 380px;
}
.personal-health-tracker2 {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 2021px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-inter);
}
